#create-modal,
#merge-modal,
#upload-modal,
.delete-modal,
#modify-modal,
#upload-bulk-modal,
#download-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
  width: 20em;
  max-width: 60%;
  border-radius: 0.5em;
}

#create-modal {
  height: 17em;
}

#merge-modal {
  height: 23em;
}

#upload-bulk-modal {
  height: 40%;
}

#upload-modal {
  height: 11em;
}

#download-modal {
  height: 9.5em;
}


.delete-modal {
    height: 11.5em;
}

#modify-modal {
  height: 13m;
}

.modal-header {
  border-radius: 0.5em;
  background-color: #003e8f;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #003e8f;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  border-radius: 0.5em;
}

.modal-body {
  padding: 10px;
}

#basic-modal {
  top: -3px;
  right: 17px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 9;
}

#album-creation-form {
    height: 450px;
}

#album-creation-form .modal-form {
    width: 270px;
    max-width: 90%;
    height: 25px;
    margin-bottom: 7px;
    border: solid 1px #999;
    border-radius: 0.5em;
}

#album-creation-form #albums {
  height: 70px;
}

#album-creation-form #description {
  height: 60px;
}

#modify-details-form .modal-form {
    width: 270px;
    max-width: 90%;
    height: 25px;
    margin-bottom: 7px;
    border: solid 1px #999;
    border-radius: 0.5em;
}

#modify-details-form #description {
  height: 60px;
}

.download-btn {
  background-image: url("images/download.jpg");
  background-color: transparent; /* make the button transparent */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: 0px 0px;  /* equivalent to 'top left' */
  border: none;           /* assuming we don't want any borders */
  cursor: pointer;        /* make the cursor like hovering over an <a> element */
  height: 16px;           /* make this the size of your image */
  padding-left: 16px;     /* make text start to the right of the image */
}

.yes-btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.no-btn {
  position: absolute;
  bottom: 5%;
  right: 30%;
  background-color: red;
}

.download-icon {
  width: 5%;
  position: absolute;
  top: 28.5%;
  left: 20%;
}