#register {
  text-align: center;
  width: 22%;
  position: absolute;
  top: 20%;
  left: 36%;
}

#register .form-input {
  display: block;
  margin: 1rem auto;
  border-radius: 0.5em;
  width: 15em;
  height: 1.3em;
}
